<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="ALPHA OS"
        android:theme="@style/AppTheme">

        <activity android:name=".PermissionsActivity" />
        <activity android:name=".AICoreActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".VoiceAssistantActivity" />
        <activity android:name=".MemoryActivity" />
        <activity android:name=".AndroidControlActivity" />
        <activity android:name=".SchedulerActivity" />
        <activity android:name=".PluginsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".HomeActivity" />

        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
